<div class="educations">
  <h2>Educations</h2>
     <dl>
  <dt>KAIST (Korea Advanced Institute of Science and Technology) <dc>2021 - present</dc> </dt>
    <dd>MS in Industrial and Systems Engineering</dd>
    <dd>Research interest: Graph Neural Networks / Graph Mining</dd>
    <dd>Advisor: Chanyoung Park</dd>
  <dt>Korea University <dc>2015 - 2021</dc> </dt>
    <dd>BS in Industrial Management Engineering</dd>
    <dd>Dean's list (2019 Spring)</dd>
</dl>
</div><br>

<div class="work experience">
  <h2>Work Experience</h2>
     <dl>
  <dt>AISoftKorea <dc>2020.06 - 2021.03<dc></dt>
    <dd>I was cofounder of AISoftKorea ((주)한국에이아이소프트), an AI-based legal counseling startup company in Seoul, Korea.</dd>
    <dd>Our team won grand prize at Seoul Innovation challenge 2020 <a href="https://news.naver.com/main/read.naver?mode=LSD&mid=sec&sid1=102&oid=016&aid=0001783699" title="News">[News]</i></a>.</dd>
</dl>
</div><br>

<div class="teaching experience">
  <h2>Teaching Experience</h2>
     <dl>
  <dt>IE343: Statistical Machine Learning <dc>2021, 2022 Spring</dc> </dt>
    <dd>Teaching Assistant</dd>
  <dt>CoE202: Basics of Artificial Intelligence <dc>2021 Fall</dc> </dt>
    <dd>Teaching Assistant <a href="https://github.com/Namkyeong/CoE202" title="Lab Session">[Lab Session]</i></a> </dd>
</dl>
</div>