<div class="educations">
  <h2>Educations</h2>
     <dl>
  <dt>KAIST (Korea Advanced Institute of Science and Technology) <dc>2021 - present</dc> </dt>
    <dd>Industrial and Systems Engineering</dd>
    <dd>Research interest: Graph Neural Networks / Graph Mining</dd>
    <dd>Advisor: Chanyoung Park</dd>
  <dt>Korea University <dc>2015 - 2021</dc> </dt>
    <dd>BS in Industrial Management Engineering</dd>
    <dd>Dean's list (2019 Spring)</dd>
</dl>
</div><br>

<div class="work experience">
  <h2>Work experience</h2>
     <dl>
  <dt>AISoftKorea <dc>2020.06 - 2021.03<dc></dt>
    <dd>I was cofounder of AIsoftKorea (한국에이아이소프트), an AI-based legal counseling startup company in Seoul, Korea.</dd>
    <dd>Our team won grand prize at Seoul Innovation challenge 2020 <a href="https://news.naver.com/main/read.naver?mode=LSD&mid=sec&sid1=102&oid=016&aid=0001783699" title="News">[News]</i></a>.</dd>
</dl>
</div>
